canvas {
  position: relative;
  background-color: #ffffff;
  height: 248px !important;
  width: 348px !important;
}
.chart {
  display: flex;

  justify-content: center;
}

@media (max-width: 640px) {
  canvas {
    font-size: 5px;
    height: 130px !important;
    width: 265px !important;
  }
}
