.nav-container{

    display: flex;
    justify-content: center;
   
    
  
    
  
}
.nav-container span{
    margin:2px ;
   
}
.nav-container a {
    margin:12px;
    text-decoration: none;
    color:inherit;
    
}