.footer {
    position: relative;
    top: 24px;
    background: #202020;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 10px;
    color: #6e7080;
}
.footer-container{
    display: flex;
    flex-direction: column;
   
    align-items: center;
}
.footer-title {
    color: #fff;
    
    margin-bottom: 0px;
}
.footer-title  a{
    color: #fff;
    
    text-decoration: none;
}
@media (max-width: 640px) {
   .footer {
     
    position: relative;
    top: 100px;
    }
  }
  